<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itqf.demo01.dao.CourseDao">
    <insert id="insertCourse" parameterType="course">
        insert into t_course
        (<trim suffixOverrides=",">
        <if test="name != null">
            `name`,
        </if>
        <if test="createtime != null">
           createtime ,
        </if>
        <if test="week != 0">
            week,
        </if>
        <if test="type != 0">
             `type`
        </if>
    </trim> )
        value
        (<trim suffixOverrides=",">
        <if test="name != null">
            #{name},
        </if>
        <if test="createtime != null">
            #{createtime},
        </if>
        <if test="week != 0">
             #{week},
        </if>
        <if test="type != 0">
           #{type}
        </if>
    </trim>)
    </insert>

    <delete id="deleteCourse" parameterType="int">
        delete from t_course where id = #{id}
    </delete>

    <update id="updateCourse" parameterType="course">
        update t_course
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="week != 0">
                week = #{week},
            </if>
            <if test="type != 0">
                `type` = #{type},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="findCourseByName" parameterType="string" resultType="course">
        select * from t_course
        where name = #{name}
    </select>
    <select id="findAll" resultType="com.itqf.demo01.vo.VoCourse">
        select cou.*,ty.name typeName from t_course cou left join t_type ty
        on cou.type = ty.id
    </select>


</mapper>